.container {
    width: 600px;
    margin: 0 auto;
}

.header {
    color: #fff;
    text-align: center;
    background-color: #888;
    padding: 10px;
    font-weight: bold;
}

.content {
    display: -webkit-flex;
    display: flex;
}

.content > div {
    width: 50%;
    border-color: #888;
    border-top: 1px solid;
    border-right: 1px solid;
}

.content > div:nth-child(2) {
    border-right: 0;
}